<div class="card">
  <div class="card-body">
    {{comments}}

<form class="add-comment">
  <div>
    <textarea name="course_id"></textarea>
    </div>
    <div>
        <textarea name="add-comment-body"></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
        <button type="button" class="vote-btn">vote</button>
    </div>
</form>
<script src="/js/comment.js"></script>
</div>
</div>