<div class="col-md-6 cmtcol">
<div class="form-floating">
  <textarea id="floatingTextArea" class="form-control usrcmt" name="course_id" placeholder="Leave a comment here"></textarea>
  <br>
<button class="btn ">add comment </button>
<!-- \  id="floatingTextArea" name="add-comment-body"></textarea>
<button type="submit">add comment</button>
<button type="button" class="vote-btn">vote</button> -->
</form>
</div>
</div>

