<aside>
  <div class="list-group courselist">
  <button type="button btn-lg" class="list-group-item list-group-item-action" aria-current="true">
    Courses available in:
  </button>
  <button type="button" class="list-group-item list-group-item-action">Web Design</button>
  <button type="button" class="list-group-item list-group-item-action">Cyber Security</button>
  <button type="button" class="list-group-item list-group-item-action">Game Design</button>
  <button type="button" class="list-group-item list-group-item-action">Data Analytics</button>
</div>
</aside>

<div class="card text-black bg-dark mb-3" style="max-width: 400rem; max-height: 15rem;">
  <div class="card-header">About CourseCritic</div>
  <div class="card-body">
    <h5 class="card-title">Copyright 2022 CourseCritic</h5>
    <p class="card-text">CourseCritic is a community-powered site providing honest feedback for those
      considering enrolling in various online courses.
    </p>
  </div>
</div>



