
<aside>
  <div class="list-group courselist">
  <button type="button btn-lg" class="list-group-item list-group-item-action" aria-current="true">
    Courses available in:
  </button>
  <button type="button" class="list-group-item list-group-item-action">Web Design</button>
  <button type="button" class="list-group-item list-group-item-action">Cyber Security</button>
  <button type="button" class="list-group-item list-group-item-action">Game Design</button>
  <button type="button" class="list-group-item list-group-item-action">Data Analytics</button>
</div>
</aside>

<div class="card text-white bg-dark mb-3" style="max-width: 80rem; max-height: 20rem;">
  <div class="card-header">About CourseCritic</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>



