<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    {{#each course as |course|}}
      <div class="card mycard">
        <div class="card-body">
          <h5 class="card-title">
             {{>  courses }}
          </h5>
        </div>
      </div>
    {{/each}}
  </div>
</div>


<form class="comments">
    <div>
        <textarea name="adding-comments"></textarea>
        <br>
        <button type="submit">Add Comment:</button>
    </div>
</form>


<div class="commentary">
    {{#each courses}}
    <section class="comment-course">
        <div class="education">
            {{username}}
        </div>
        <div class="opinion">
            {{comments}}
        </div>
    </section>
    {{/each}}
</div>
<script src="/js/comment.js"></script>