	<aside>
    <h3>Schools in our class listings:</h3>

  <ol class="school-list">
      {{#each courses as |course|}}
      <li>
	    <article class="course">
       <div class="title">
          <p {{course.school}}></p>
        </div>
      </article>
      </li>
  {{/each}}
  </ol>
</aside>