	<aside>
    <h3>Courses available in:</h3>
    <h2>Web Design, Gaming and CyberSecurity</h2>
  <!--<ol class="school-list">
      {{#each course as |course|}}
      <li>
	    <article class="course-name">
       <div class="title-school">
        {{course_name}} 
        </div>
      </article>
      </li>
  {{/each}}
  </ol>-->
</aside>


{{#each course as |course|}}

{{> courses }}
{{/each}}


