	<aside>
    <h3>Courses available in:</h3>
    <h2>Web Design, Gaming and CyberSecurity</h2>
  <!--<ol class="school-list">
      {{#each course as |course|}}
      <li>
	    <article class="course-name">
       <div class="title-school">
        {{course_name}} 
        </div>
      </article>
      </li>
  {{/each}}
  </ol>-->
</aside>


{{#each course as |course|}}
{{>  courses }}
{{/each}}

<section class="img">
    <h4 class="img-school">{{course.course_name}}</h4>
    <section>
        {{#each course.images as |image|}}
        {{> course}}
        {{/each}}
    </section>
</section>

<form class="add-comment">

  <div>
    <textarea name="course_id" >Enter course name here</textarea>
  </div>
    
    <div>
        <textarea name="add-comment-body">Add Comments here</textarea>
        <button type="submit">add comment</button>
    </div>

    <div>
        
        <button type="button" class="vote-btn">vote</button>
    </div>
</form>
{{> comment }}

<script src="/js/comment.js"></script>