<aside>
  <div class="list-group courselist">
  <button type="button btn-lg" class="list-group-item list-group-item-action" aria-current="true">
    Courses available in:
  </button>
  <button type="button" class="list-group-item list-group-item-action">Web Design</button>
  <button type="button" class="list-group-item list-group-item-action">Cyber Security</button>
  <button type="button" class="list-group-item list-group-item-action">Game Design</button>
  <button type="button" class="list-group-item list-group-item-action">Data Analytics</button>
</div>
</aside>

<div class="card text-black bg-dark mb-3" style="max-width: 400rem; max-height: 25rem;">
  <div class="card-header">Account Login</div>
  <div class="card-body">
    <h5 class="card-title">Login to Comment and Vote</h5>
    <p class="card-text">
        <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">we do not share any information with anyone even you</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember my password</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </p>
  </div>
<script src="/js/login.js"></script>
</div>





