<aside>
  <div class="list-group courselist">
  <button type="button btn-lg" class="list-group-item list-group-item-action" aria-current="true">
    Courses available in:
  </button>
  <button type="button" class="list-group-item list-group-item-action">Web Design</button>
  <button type="button" class="list-group-item list-group-item-action">Cyber Security</button>
  <button type="button" class="list-group-item list-group-item-action">Game Design</button>
  <button type="button" class="list-group-item list-group-item-action">Data Analytics</button>
</div>
</aside>

<div class="card text-black bg-dark mb-3" style="max-width: 400rem; max-height: 28rem;">
  <div class="card-header">Account Login</div>
  <div class="card-body">
    <h5 class="card-title">Login to Comment and Vote</h5>
    <p class="card-text">
  <div class="form-group">
        <br>
        <a class="btn-lg loginBtn" href='/auth/facebook'>Facebook</a>
        <a class="btn-lg loginBtn" href='/auth/twitter'>Twitter</a>
        <br><br><br><br>
        <a class="btn-lg loginBtn" href='/auth/google'>Google</a>
        <a class="btn-lg loginBtn" href='/auth/github'>Github</a>
  </div>
        <form>
  

</form>
    </p>
  </div>
<script src="/js/login.js"></script>
</div>





